# Churn

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as sts
%matplotlib inline

In [3]:
data = pd.read_csv('Churn.csv',engine='c', sep=';')
df = data.copy()
df.shape

(999, 12)

In [4]:
df.columns = ['ID', 'Score', 'Estado', 'Genero', 'Idade', 'Patrimonio', 'Saldo', 'Produtos', 'TemCartCredito', 'Ativo', 'Salario', 'Saiu']
df

,ID,Score,Estado,Genero,Idade,Patrimonio,Saldo,Produtos,TemCartCredito,Ativo,Salario,Saiu
0,1,619,RS,Feminino,42,2,0,1,1,1,10134888.0,1
1,2,608,SC,Feminino,41,1,8380786,1,0,1,11254258.0,0
2,3,502,RS,Feminino,42,8,1596608,3,1,0,11393157.0,1
3,4,699,RS,Feminino,39,1,0,2,0,0,9382663.0,0
4,5,850,SC,Feminino,43,2,12551082,1,1,1,790841.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
994,996,838,SC,Masculino,43,9,12310588,2,1,0,14576583.0,0
995,997,610,SC,Masculino,29,9,0,3,0,1,8391224.0,0
996,998,811,SC,Masculino,44,3,0,2,0,1,7843973.0,0
997,999,587,SC,Masculino,62,7,12128627,1,0,1,677692.0,0
998,1000,811,PR,Feminino,28,4,16773882,2,1,1,990342.0,0

In [5]:
df.loc[df['Estado'].isin(['TD', 'RP', 'SP']), 'Estado'] = sts.mode(df.Estado)
df.Estado

In [6]:
df.loc[df['Genero'].isin(['F', 'Fem']), 'Genero'] = 'Feminino'
df.loc[df['Genero'] == 'M', 'Genero'] = 'Masculino'
df['Genero'].fillna(sts.mode(df['Genero']), inplace=True)
df

,ID,Score,Estado,Genero,Idade,Patrimonio,Saldo,Produtos,TemCartCredito,Ativo,Salario,Saiu
0,1,619,RS,Feminino,42,2,0,1,1,1,10134888.0,1
1,2,608,SC,Feminino,41,1,8380786,1,0,1,11254258.0,0
2,3,502,RS,Feminino,42,8,1596608,3,1,0,11393157.0,1
3,4,699,RS,Feminino,39,1,0,2,0,0,9382663.0,0
4,5,850,SC,Feminino,43,2,12551082,1,1,1,790841.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
994,996,838,SC,Masculino,43,9,12310588,2,1,0,14576583.0,0
995,997,610,SC,Masculino,29,9,0,3,0,1,8391224.0,0
996,998,811,SC,Masculino,44,3,0,2,0,1,7843973.0,0
997,999,587,SC,Masculino,62,7,12128627,1,0,1,677692.0,0
998,1000,811,PR,Feminino,28,4,16773882,2,1,1,990342.0,0

In [7]:
df.loc[df['ID'].duplicated(keep=False) == True]
df.drop_duplicates(subset=['ID'], keep='first', inplace=True)
df.loc[df['ID'].duplicated(keep=False) == True]

In [8]:
df.loc[(df['Idade'] > 100) | (df['Idade'] < 0), 'Idade'] = sts.median(df['Idade'])
df.Idade

In [12]:
df['Salario'].fillna(sts.median(df['Salario']), inplace=True)
df.Salario

In [13]:
df.loc[df['Salario'] > (2 * sts.stdev((df['Salario']))), 'Salario'] = sts.median(df['Salario'])
df.Salario

In [14]:
df.shape

(998, 12)

In [15]:
df

,ID,Score,Estado,Genero,Idade,Patrimonio,Saldo,Produtos,TemCartCredito,Ativo,Salario,Saiu
0,1,619,RS,Feminino,42,2,0,1,1,1,10134888.0,1
1,2,608,SC,Feminino,41,1,8380786,1,0,1,11254258.0,0
2,3,502,RS,Feminino,42,8,1596608,3,1,0,11393157.0,1
3,4,699,RS,Feminino,39,1,0,2,0,0,9382663.0,0
4,5,850,SC,Feminino,43,2,12551082,1,1,1,790841.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
994,996,838,SC,Masculino,43,9,12310588,2,1,0,14576583.0,0
995,997,610,SC,Masculino,29,9,0,3,0,1,8391224.0,0
996,998,811,SC,Masculino,44,3,0,2,0,1,7843973.0,0
997,999,587,SC,Masculino,62,7,12128627,1,0,1,677692.0,0
998,1000,811,PR,Feminino,28,4,16773882,2,1,1,990342.0,0

# tempo

In [16]:
data = pd.read_csv('tempo.csv', engine='c', sep=';')
df = data.copy()
df.shape

(14, 5)

In [17]:
df

,Aparencia,Temperatura,Umidade,Vento,Jogar
0,sol,85,85.0,FALSO,nao
1,sol,80,90.0,VERDADEIRO,nao
2,nublado,83,86.0,FALSO,sim
3,chuva,70,NaN,FALSO,sim
4,chuva,68,80.0,FALSO,sim
5,chuva,65,70.0,VERDADEIRO,nao
6,menos,64,65.0,VERDADEIRO,sim
7,sol,1220,95.0,FALSO,nao
8,sol,69,70.0,FALSO,sim
9,chuva,75,200.0,NaN,sim
10,sol,75,70.0,VERDADEIRO,sim
11,nublado,72,90.0,VERDADEIRO,sim
12,nublado,81,75.0,FALSO,sim
13,chuva,71,91.0,VERDADEIRO,nao

In [18]:
df.loc[(df['Aparencia'] == 'menos'), 'Aparencia'] = sts.mode(df['Aparencia'])
df.Aparencia

In [21]:
df['Vento'].fillna(sts.mode(df['Vento']), inplace=True)
df.Vento

In [22]:
df.loc[(df['Temperatura'] > 130) | (df['Temperatura'] < -130), 'Temperatura'] = sts.median(df['Temperatura'])
df.Temperatura

In [23]:
df['Umidade'].fillna(sts.median(df['Umidade']), inplace=True)
df.loc[df['Umidade'] > 100, 'Umidade'] = sts.median(df['Umidade'])
df.Umidade

In [24]:
df.shape

(14, 5)

In [25]:
df

,Aparencia,Temperatura,Umidade,Vento,Jogar
0,sol,85.0,85.00,FALSO,nao
1,sol,80.0,90.00,VERDADEIRO,nao
2,nublado,83.0,86.00,FALSO,sim
3,chuva,70.0,85.50,FALSO,sim
4,chuva,68.0,80.00,FALSO,sim
5,chuva,65.0,70.00,VERDADEIRO,nao
6,sol,64.0,65.00,VERDADEIRO,sim
7,sol,73.5,95.00,FALSO,nao
8,sol,69.0,70.00,FALSO,sim
9,chuva,75.0,85.25,FALSO,sim
10,sol,75.0,70.00,VERDADEIRO,sim
11,nublado,72.0,90.00,VERDADEIRO,sim
12,nublado,81.0,75.00,FALSO,sim
13,chuva,71.0,91.00,VERDADEIRO,nao